@CHARSET "UTF-8";

.containerColor {
	background-color: #3b5998;
}

.containerColor2 {
	background-color: #b7c5e2;
}

.buttonLightBlue {
	background-color: #2c4271;
	color: white;
}

.checkboxWhite {
	color: white;
}

.hSelf {
	color: White;
	font-family: "Times New Roman", Times, serif;
	font-size: 25px; 
}

a.kopfzeile {
	background-color: #3b5998;
	color: white;
	outline: 0;
	font-size: 13px;
}

a.logo {
	font-size: 18px;
}

label.platzhalter {
	width: 80px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
}

.menueSpalte a {
	color: black;
	outline: 0;
}

ul.chatSpalte a {
	color: black;
	outline: 0;
}

h4.mittig {
	text-align: center;
}

div.kopfzeile {
	background-color: #3b5998;
	color: white;
}

div.mainPart {
	margin-top: 5%;
}

div.linkeSpalte {
	width: 15%;
	float: left;
}

div.mittlereSpalte {
	width: 65%;
	float: left;
}

div.rechteSpalte {
	width: 20%;
	height: 85vh;
	position: fixed;
	margin-left: 80%;
	border: 1px solid gray;
	border-radius: 5px;
}

div.beitrag, div.profilseite {
	background-color: white;
}

body {
	background-color: #b7c5e2;
}

.verfasser {
	font-size: 20px;
	color: #3b5998;
	font-weight: bold; 
}

label.zeitstempel {
	font-size: 12px;
	color: gray;
}

label.beitrag {
	font-size: 16px;
	color: black;
	text-align: justify;
	font-weight: lighter;
}

label.anzahlLikes {
	font-size: 14px;
	color: #3b5998;
	font-weight: lighter;
	border-bottom: 1px solid #ebebeb;
	display: block;
}


label.anzahlKommentare {
	font-size: 14px;
	color: gray;
	font-weight: lighter;
	display: block;
	float: right;
}

label.profilName {
	font-size: 30px;
	color: #3b5998;
	font-weight: bold; 
}

ul.border {
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}

li a {
	color: #3b5998;
}

li.kommentareAnzeigen {
	margin-right: 0%;
	float: right;
}

li.chatfreunde {
	background-color: white;
	border-radius: 3px;
}

textarea {
	resize: none;
}

img.profilbild {
	margin-left: 25%;
	margin-bottom: 25%;
	width: 50%;
	height: 50%;
}




